<div class="mat-accordian-item-list">
 <mat-accordion multi="false" *ngIf="items.length > 0">
  <mat-expansion-panel *ngFor="let item of items">
   <mat-expansion-panel-header>
     <mat-panel-title>
       {{item.itemType}}
     </mat-panel-title>
     <mat-panel-description>
      {{item.description}}
     </mat-panel-description>
   </mat-expansion-panel-header>
   <p><span>Color:</span> {{item.color}}</p>
   <p><span>Quantity:</span> {{item.quantity}}</p>
  </mat-expansion-panel>
 </mat-accordion>
 <p class="mat-body-1 no-post-info" *ngIf="items.length <= 0">No posts added yet!</p>
</div>